.agent-profile-container {
    display: flex;
    flex-direction: column;
}

.agent-name {
    text-decoration: underline;
}

.agent-ability-container {
    display: flex;
    flex-direction: row;
}

.ability-item {
}

.ability-item::after {
    content: " \a";
    white-space: pre;
}