.agent-profile-container {
  display: flex;
  flex-direction: row;
  margin-left: 1.25%;
  margin-right: 1.25%;
}

.agent-img-container {
  margin-left: inherit;
  margin-right: inherit;
  flex-grow: 1;
}

.agent-name {
  text-decoration: underline;
  margin-left: inherit;
  margin-right: inherit;
  flex-grow: 1;
}

.agent-ability-container-container {
  display: flex;
  width: 100%;
}

.agent-ability-container {
  display: flex;
  flex-grow: 1;
}

.ability-item::after {
  content: " \a";
  white-space: pre;
}
